<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>JDI模型设计器</title>
    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/loader.css">

</head>

<body>
    <!--导航栏-->
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void()">JDI模型设计器</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a class="item dropdown-toggle" data-toggle="dropdown">操作<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <!-- <li><a data-toggle="modal" href="#create_resource_modal">新建资源</a></li>
                    <li><a data-toggle="modal" href="#open_resource_modal">打开资源</a></li> -->
                    <!-- <li class="divider"></li>  -->
                    <!-- <li><a data-toggle="modal" href="#receive_product_modal">接收产品</a></li>
                    <li><a data-toggle="modal" href="#open_product_modal">打开产品</a></li> -->
                    <!-- <li class="divider"></li> -->
                    <li><a data-toggle="modal" href="#dbDefineModal">数据库定义</a></li>
                    <li class="divider"  data-first-filter="save"></li>
                    <!-- <li><a data-toggle="modal" href="#saveAsModal" data-first-filter="save">另存为...</a></a></li>  后面关联模板-->
                    <li><a id="saveAs" data-first-filter="save">另存为...</a></a></li>
                    <!-- <li><a data-toggle="modal" href="#publishModal">发布模型</a></li> -->
                    <!-- <li class="divider"></li> -->
                </ul>

            </li>
            <li class="dropdown">
                <a class="item dropdowm-toggle" data-toggle="dropdown">模版<b class="caret"></b></a>
                <ul class="dropdown-menu">
                        <li><a data-toggle="modal"  href="#create_template_modal" >新建模板</a></li>
                        <li class="divider"></li>
                        <li><a data-toggle="modal" href="#open_template_modal" >打开模板</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="item dropdowm-toggle" data-toggle="dropdown">模型<b class="caret"></b></a>
                <ul class="dropdown-menu">
                        <li><a data-toggle="modal" href="#create_resource_modal" >新建模型</a></li>
                        <li class="divider"></li>
                        <li><a data-toggle="modal" href="#open_resource_modal" >打开模型</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="item dropdown-toggle" data-toggle="dropdown">工具<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-toggle="modal" href="#setDbDesignerModal" data-first-filter="db">数据库设计器</a></li>
                    <li><a data-toggle="modal" href="#dbDesignerModal" data-first-filter="db">配置本表数据</a></li>
                    <li><a data-toggle="modal" href="#recordModal">产品记录查看器</a></li>
                    <li><a id="viewer">元素编号查看器</a></li>
                    <li><a id="controlRuler">标尺查看器</a></li>
                </ul>
            </li>
            <li><a class="item" id="save" data-first-filter="save">保存</a></li>
            <li><a class="item" id="submit" data-first-filter="submit">提交</a></li>
            <li><a class="item" id="delete" data-zero-filter="delete" style="display: none">删除</a></li>
            <li><a class="item" id="recall" data-first-filter="recall" style="display: none">重新调用模板</a></li>
            <li><a class="item" id="preview" data-zero-filter="preview" style="display: none" target="_blank">预览</a>
            </li>
            <li><a class="item" id="test" data-zero-filter="test" style="display: none">测试</a></li>
            <li><a class="item" data-toggle="modal" href="#workspaceModal">工作区设置</a></li>
            <li><a class="item" data-toggle="modal" href="#publishModal" data-first-filter="db">发布模型</a></li>
        </ul>

        <!-- <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="item dropdown-toggle" data-toggle="dropdown"><%= user.userName %><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/users/logout">注销</a></li>
                <li><a href="/users/revisepwd">密码</a></li>
            </ul>
        </li>
    </ul> -->
    </nav>

    <!--主体区域-->
    <!-- <article class="main"><%- body -%></article> -->
    <article class="main"></article>

    <!--正在加载-->
    <section class="loader">
        <div class="loader-content clearfix">
            <p class="loader-text">正在加载中……</p>
            <div class="loader-animate">
                <i></i><i></i><i></i><i></i><i></i>
            </div>
        </div>
    </section>

    <!--<script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>-->
    <script>
        window.$ = window.jQuery = require("jquery");
    </script>
    <script type="text/javascript" src="../lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../lib/jresizable/jresizable.css">
    <link rel="stylesheet" href="../lib/jcontextmenu/jcontextmenu.css">
    <link rel="stylesheet" href="../lib/jpagination/jpagination.css">
    <link rel="stylesheet" href="../lib/jdi-numViewer/jdi-numViewer.css">
    <link rel="stylesheet" href="../lib/jdi-exprGenerator/jdi-exprGenerator.css">
    <link rel="stylesheet" href="../lib/jdi-dbDesigner/jdi-dbDesigner.css">
    <link rel="stylesheet" href="../lib/jdi-dbQuerier/jdi-dbQuerier.css">
    <link rel="stylesheet" href="../lib/jdi-propModifier/jdi-propModifier.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/model.css">

    <!--控件栏-->
    <aside id="controlbar" data-zero-filter="asider" style="display: none">
        <ul class="control-list">
            <li class="control-item" data-type="text" title="文本框">
                <span class="glyphicon glyphicon-subtitles"></span>
                <span>文本框</span>
            </li>
            <li class="control-item" data-type="button" title="按钮">
                <span class="glyphicon glyphicon-record"></span>
                <span>按钮</span>
            </li>
            <li class="control-item" data-type="checkbox" title="复选框">
                <span class="glyphicon glyphicon-check"></span>
                <span>复选框</span>
            </li>
            <li class="control-item" data-type="img" title="图片域">
                <span class="glyphicon glyphicon-picture"></span>
                <span>图片域</span>
            </li>
            <li class="control-item" data-type="div" title="子模块设计">
                <span class="glyphicon glyphicon-edit"></span>
                <span>子模块设计</span>
            </li>
            <!--<li>
            <button id="testbtn">测试</button>
        </li>-->
        </ul>
    </aside>
    <!--工具栏-->
    <section id="toolbar" class="clearfix" data-zero-filter="asider">
        <h4 id="name"></h4>
        <div id="buttonbar">
            <div class="btn-group btn-views">
                <button class="btn btn-default btn-sm" data-state="1" data-type="functionInsert" id="openInsertFnModal"
                    title="插入函数">
                    <span class="icon icon-fx"></span>
                </button>
                <button class="btn btn-default btn-sm" data-type="functionView" id="viewAllFns" title="查看函数配置">
                    <span class="icon icon-fx-view"></span>
                </button>
            </div>

            <div class="btn-group">
                <button class="btn btn-default btn-sm" data-state="2" data-type="align-left" title="左对齐">
                    <span class="icon icon-align-left"></span>
                </button>
                <button class="btn btn-default btn-sm" data-state="2" data-type="align-center" title="居中对齐">
                    <span class="icon icon-align-center"></span>
                </button>
                <button class="btn btn-default btn-sm" data-state="2" data-type="align-right" title="右对齐">
                    <span class="icon icon-align-right"></span>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default btn-sm" data-state="2" data-type="align-top" title="顶端对齐">
                    <span class="icon icon-align-top"></span>
                </button>
                <button class="btn btn-default btn-sm" data-state="2" data-type="align-middle" title="中间对齐">
                    <span class="icon icon-align-middle"></span>
                </button>
                <button class="btn btn-default btn-sm" data-state="2" data-type="align-bottom" title="底端对齐">
                    <span class="icon icon-align-bottom"></span>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default btn-sm" data-state="2" data-type="equal-width" title="相同宽度">
                    <span class="icon icon-equal-width"></span>
                </button>
                <button class="btn btn-default btn-sm" data-state="2" data-type="equal-height" title="相同高度">
                    <span class="icon icon-equal-height"></span>
                </button>
                <button class="btn btn-default btn-sm" data-state="2" data-type="equal-all" title="相同宽高">
                    <span class="icon icon-equal-all"></span>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default btn-sm" data-state="2" data-type="horizon-space" title="水平间距">
                    <span class="icon icon-horizon-space"></span>
                </button>
                <button class="btn btn-default btn-sm" data-state="2" data-type="vertical-space" title="垂直间距">
                    <span class="icon icon-vertical-space"></span>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default btn-sm" data-state="3" data-type="put-top" title="置顶">
                    <span class="icon icon-put-top"></span>
                </button>
                <button class="btn btn-default btn-sm" data-state="3" data-type="put-bottom" title="置底">
                    <span class="icon icon-put-bottom"></span>
                </button>
            </div>
            <div class="btn-group dropdown">
                <button class="btn btn-default btn-sm">移动至</button>
                <button class="btn btn-default btn-sm dropdown-toggle" data-state="3" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a data-type="left" data-state="3">左边</a></li>
                    <li><a data-type="center" data-state="3">水平中线</a></li>
                    <li><a data-type="right" data-state="3">右边</a></li>
                    <li><a data-type="top" data-state="3">上边</a></li>
                    <li><a data-type="middle" data-state="3">垂直中线</a></li>
                    <li><a data-type="bottom" data-state="3">下边</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--属性栏-->
    <aside id="propertybar" data-zero-filter="asider" style="display: none"></aside>
    <!--设计器-->
    <section id="designer">
        <div id="ruler">
            <div id="workspace"></div>
        </div>
    </section>

    <!-- <% include includes/modal.html %> -->
    <!--新建资源模态框-->
    <!-- <section class="modal fade" id="create_resource_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新建资源</h4>
                </header>
                <section class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#create_template_resource_tab">模板资源</a></li>
                        <li><a data-toggle="tab" href="#create_model_resource_tab">模型资源</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="create_template_resource_tab">
                            <form class="form-horizontal" id="template_resource_form">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="template_resource_name">资源名称：</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" id="template_resource_name" type="text"
                                            name="template_resource_name">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade form-horizontal" id="create_model_resource_tab">
                            <form class="form-horizontal" id="model_resource_form">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="model_resource_subCategory">资源分类：</label>
                                    <div class="col-lg-7">
                                        <div class="checkbox" id="model_resource_subCategory"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="model_resource_relId">关联模板：</label>
                                    <div class="col-lg-7">
                                        <select class="form-control" id="model_resource_relId"
                                            name="model_resource_relId"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="model_resource_name">资源名称：</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" id="model_resource_name" type="text"
                                            name="model_resource_name">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                </footer>
            </div>
        </div>
    </section> -->
    <!-- 新建模板资源 -->
    <section class="modal fade" id="create_template_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">新建模板资源</h4>
                    </header>
                    <section class="modal-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="create_template_resource_tab">
                                <form class="form-horizontal" id="template_resource_form">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="template_resource_name">资源名称：</label>
                                        <div class="col-lg-7">
                                            <input class="form-control" id="template_resource_name" type="text"
                                                name="template_resource_name">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-footer">
                        <button class="btn btn-primary save">保存</button>
                    </footer>
                </div>
            </div>
    </section>

    <!-- 新建模型资源 -->
    <section class="modal fade" id="create_resource_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新建模型资源</h4>
                </header>
                <section class="modal-body">
                    
                    <div class="content">
                        <div>
                            <form class="form-horizontal" id="model_resource_form">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="model_resource_subCategory">资源分类：</label>
                                    <div class="col-lg-7">
                                        <div class="checkbox" id="model_resource_subCategory"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="model_resource_relId">关联模板：</label>
                                    <div class="col-lg-7">
                                        <select class="form-control" id="model_resource_relId"
                                            name="model_resource_relId"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="model_resource_name">资源名称：</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" id="model_resource_name" type="text"
                                            name="model_resource_name">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                </footer>
            </div>
        </div>
    </section>
    

    <!--打开资源模态框-->
    <!-- <section class="modal fade" id="open_resource_modal">
        <div class="modal-dialog w800px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">打开资源</h4>
                </header>
                <section class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#open_template_resource_tab">模板资源</a></li>
                        <li><a data-toggle="tab" href="#open_model_resource_tab">模型资源</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="open_template_resource_tab">
                            <section id="template_resource_page"></section>
                        </div>
                        <div class="tab-pane fade" id="open_model_resource_tab">
                            <section id="model_resource_page"></section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section> -->
    <!-- 打开模板资源 -->
    <section class="modal fade" id="open_template_modal">
        <div class="modal-dialog w800px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">打开模板资源</h4>
                </header>
                <section class="modal-body">
                    
                    <div class="content">
                        <div class="" id="open_template_resource_tab">
                            <section id="template_resource_page"></section>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- 打开模型资源 -->
    <section class="modal fade" id="open_resource_modal">
        <div class="modal-dialog w800px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">打开模型资源</h4>
                </header>
                <section class="modal-body">
                    <div class="content">
                        <div class="" id="open_model_resource_tab">
                            <section id="model_resource_page"></section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!--接收产品模态框-->
    <section class="modal fade" id="receive_product_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">接收产品</h4>
                </header>
                <section class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#receive_template_product_tab">模板产品</a></li>
                        <!-- <li><a data-toggle="tab" href="#receive_model_product_tab">模型产品</a></li> -->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="receive_template_product_tab">
                            <div class="panel-group" id="template_accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#template_accordion"
                                                href="#first_template_accordion">未处理状态</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="first_template_accordion">
                                        <div class="panel-body">
                                            <table class="table table-striped table-hover table-responsive ltable">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#template_accordion"
                                                href="#second_template_accordion">处理中状态</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="second_template_accordion">
                                        <div class="panel-body">
                                            <table class="table table-striped table-hover table-responsive ltable">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="receive_model_product_tab">
                            <div class="panel-group" id="model_accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#model_accordion"
                                                href="#first_model_accordion">未处理状态</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="first_model_accordion">
                                        <div class="panel-body">
                                            <table class="table table-striped table-hover table-responsive ltable">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#model_accordion"
                                                href="#second_model_accordion">处理中状态</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="second_model_accordion">
                                        <div class="panel-body">
                                            <table class="table table-striped table-hover table-responsive ltable">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!--打开产品模态框-->
    <section class="modal fade" id="open_product_modal">
        <div class="modal-dialog w800px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">打开产品</h4>
                </header>
                <section class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#open_template_product_tab">模板产品</a></li>
                        <li><a data-toggle="tab" href="#open_model_product_tab">模型产品</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="open_template_product_tab">
                            <section id="template_product_page"></section>
                        </div>
                        <div class="tab-pane fade" id="open_model_product_tab">
                            <section id="model_product_page"></section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!--静态数据源模态框-->
    <section class="modal fade" id="dataSource_static_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">静态数据源配置</h4>
                </header>
                <section class="modal-body">
                    <div class="form-group">
                        <label class="control-label">数据项</label>
                        <textarea class="form-control" cols="30" rows="10"
                            placeholder="item以换行符[\r\n]、分号[;；]隔开，name、value以逗号[,，]隔开"></textarea>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">清除</button>
                </footer>
            </div>
        </div>
    </section>

    <!--数据库数据源模态框-->
    <section class="modal fade" id="dataSource_db_modal">
        <div class="modal-dialog w800px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">数据库数据源配置</h4>
                </header>
                <section class="modal-body">
                    <div class="querier"></div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">清除</button>
                </footer>
            </div>
        </div>
    </section>

    <!--触发模态框-->
    <section class="modal fade" id="events_modal">
        <section class="modal-dialog w1200px">
            <section class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">触发配置</h4>
                </header>
                <section class="modal-body">
                    <table class="table table-bordered table-striped table-hover table-responsive ctable">
                        <thead>
                            <tr>
                                <th class="text-center">触发类型</th>
                                <th class="text-center">触发条件</th>
                                <th class="text-center">固定方法</th>
                                <th class="text-center">数据查询</th>
                                <th class="text-center">属性改变</th>
                                <th class="text-center">数据抄送</th>
                                <th class="text-center">通知</th>
                                <th>
                                    <button class="btn btn-primary btn-sm add">添加</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">清除</button>
                </footer>
            </section>
        </section>
    </section>

    <!-- 数据源tab选项卡 -->
    <section class="modal fade" id="dataSource_db_tab_modal">
        <div class="modal-dialog w800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">下拉列表数据源</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#dataSource_static_tab" data-toggle="tab">静态数据源</a>
                        </li>
                        <li>
                            <a href="#dataSource_db_tab" data-toggle="tab">数据库数据源</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="dataSource_static_tab">
                            <div class="form-group">
                                <label class="control-label">数据项</label>
                                <textarea class="form-control" cols="30" rows="10"
                                    placeholder="item以换行符[\r\n]、分号[;；]隔开，name、value以逗号[,，]隔开"></textarea>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="dataSource_db_tab">
                            <div class="querier_tab"></div>
                        </div>
                    </div>
                </div>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">清除</button>
                </footer>
            </div>
        </div>
    </section>

    <!--数据库查询模态框-->
    <section class="modal fade" id="query_db_modal">
        <div class="modal-dialog w800px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">数据库查询配置</h4>
                </header>
                <section class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">查询类型：</label>
                            <div class="col-lg-9">
                                <select class="form-control" data-key="type">
                                    <option value="">请选择类型</option>
                                    <option value="common">通用</option>
                                    <option value="table">表格</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="querier"></div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">删除</button>
                </footer>
            </div>
        </div>
    </section>

    <!--存档路径模态框-->
    <section class="modal fade" id="archivePath_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">存档路径配置</h4>
                </header>
                <section class="modal-body">
                    <div class="form-group">
                        <label class="control-label">存档类型：</label>
                        <select class="form-control" data-key="type" data-type="Int">
                            <option value="">请选择存档类型</option>
                            <option value="0">通用查询</option>
                            <option value="1">表格查询</option>
                            <option value="2">详情链接</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">存档数据库：</label>
                        <select class="form-control" data-key="dbName" data-type="String"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">存档表格：</label>
                        <select class="form-control" data-key="table" data-type="String"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">存档字段：</label>
                        <select class="form-control" data-key="field" data-type="String"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">模板编号：</label>
                        <select class="form-control" data-key="modelId" data-type="String"></select>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">清除</button>
                </footer>
            </div>
        </div>
    </section>


    <!--数据库定义模态框-->
    <section class="modal fade" id="dbDefineModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">数据库定义</h4>
                </header>
                <section class="modal-body">
                    <table class="table table-striped table-hover table-responsive ltable"></table>
                </section>
            </div>
        </div>
    </section>

    <!--发布模型模态框-->
    <section class="modal fade" id="publishModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">发布模型</h4>
                </header>
                <section class="modal-body">
                    <table class="table table-striped table-hover table-responsive ltable"></table>
                </section>
            </div>
        </div>
    </section>

    <!--工作区设置模态框-->
    <section class="modal fade" id="workspaceModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">工作区设置</h4>
                </header>
                <section class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="width">宽度</label>
                        <input class="form-control" id="width" type="text" value="1024">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="height">高度</label>
                        <input class="form-control" id="height" type="text" value="950">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="bgColor">背景颜色</label>
                        <input class="form-control" id="bgColor" type="color" value="#f2f2f2">
                    </div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                </footer>
            </div>
        </div>
    </section>

    <!--数据入库模态框-->
    <section class="modal fade" id="dbDesignerModal">
        <div class="modal-dialog w1200px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">数据入库</h4>
                </header>
                <section class="modal-body">
                    <div id="dbDesigner"></div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                </footer>
            </div>
        </div>
    </section>
    <!--数据库设计模态框-->
    <section class="modal fade" id="setDbDesignerModal">
        <div class="modal-dialog w1200px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">数据库设计器</h4>
                </header>
                <section>

                </section>
                <section class="modal-body">
                    <form class="form-inline">
                        <div class="form-group col-lg-3" style="margin-bottom: 5px">
                            <label class="control-label col-lg-3">数据库名</label>
                            <input class="form-control col-lg-3" type="text" data-type="dbName">
                        </div>
                        <div class="form-group col-lg-3" style="margin-bottom: 5px">
                            <label class="control-label col-lg-3">表名</label>
                            <input class="form-control col-lg-3" type="text" data-type="tableName">
                        </div>
                        <div class="form-groupb col-lg-3" style="margin-bottom: 5px">
                            <label class="control-label col-lg-3">表注解</label>
                            <input class="form-control col-lg-3" type="text" data-type="tableDesc">
                        </div>
                        <div class="form-group col-lg-3" style="margin-bottom: 5px">
                            <label class="control-label col-lg-3">备用1</label>
                            <input class="form-control col-lg-3" type="text" data-type="reserveOne">
                        </div>
                        <div class="form-group col-lg-3" style="margin-bottom: 5px">
                            <label class="control-label col-lg-3">备用2</label>
                            <input class="form-control  col-lg-3" type="text" data-type="reserveTwo">
                        </div>
                        <div class="form-group col-lg-3" style="margin-bottom: 5px">
                            <label class="control-label col-lg-3">备用3</label>
                            <input class="form-control  col-lg-3" type="text" data-type="reserveThere">
                        </div>
                        <div class="form-group col-lg-3" style="margin-bottom: 5px">
                            <label class="control-label col-lg-3">备用4</label>
                            <input class="form-control  col-lg-3" type="text" data-type="reserveFour">
                        </div>
                        <div class="form-group col-lg-3" style="margin-bottom: 5px">
                            <label class="control-label col-lg-3">备用5</label>
                            <input class="form-control  col-lg-3" type="text" data-type=reserveFive>
                        </div>
                    </form>
                    <div id="setDbDesigner"></div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                </footer>
            </div>
        </div>
    </section>

    <!--产品记录查看器模态框-->
    <section class="modal fade" id="recordModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">产品记录查看器</h4>
                </header>
                <section class="modal-body">
                    <table class="table table-striped table-hover table-responsive ltable">
                        <thead>
                            <tr>
                                <th>元素编号</th>
                                <th>中文名</th>
                                <th>模板产品</th>
                                <th>模型产品审核</th>
                                <th>模型产品定义</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
            </div>
        </div>
    </section>

    <!--提交模态框-->
    <section class="modal fade" id="submitModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">提交</h4>
                </header>
                <section class="modal-body">
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="#submit_template_tab">模板资源</a></li>
                        <li><a data-toggle="tab" href="#submit_model_tab">模型资源</a></li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">名称：<span id="resource_name"></span></li>
                        <li class="list-group-item">描述：<span id="resource_desc"></span></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="submit_template_tab">
                            <div class="form-group">
                                <label class="control-label" for="template_name">模板名称</label>
                                <input class="form-control" id="template_name" type="text" name="template_name">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="template_category">模板分类</label>
                                <select class="form-control" id="template_category" name="template_category"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="template_subCategory">模板子分类</label>
                                <div class="checkbox" id="template_subCategory"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="submit_model_tab">
                            <div class="form-group">
                                <label class="control-label" for="model_name">模型名称</label>
                                <input class="form-control" id="model_name" type="text" name="model_name">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="model_feature">模型特性</label>
                                <select class="form-control" id="model_feature" name="model_feature"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="model_category">模型分类</label>
                                <select class="form-control" id="model_category" name="model_category"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="model_subCategory">模型子分类</label>
                                <input class="form-control" id="model_subCategory" type="text" name="model_subCategory"
                                    readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="model_userGrade">模型用户级别</label>
                                <select class="form-control" id="model_userGrade" name="model_userGrade"></select>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">提交</button>
                </footer>
            </div>
        </div>
    </section>

    <!--抄送模态框-->
    <section class="modal fade" id="copySendModal">
        <div class="modal-dialog w1300px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">抄送配置</h4>
                </header>
                <section class="modal-body">
                    <table class="table table-bordered table-striped table-hover table-responsive ctable">
                        <thead>
                            <tr>
                                <th>抄送元素</th>
                                <th>抄送状态</th>
                                <th>抄送数据库</th>
                                <th>抄送表</th>
                                <th>抄送列</th>
                                <th>抄送字段</th>
                                <th>抄送行</th>
                                <th>抄送值</th>
                                <th>
                                    <button class="btn btn-primary btn-sm add">添加</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">清除</button>
                </footer>
            </div>
        </div>
    </section>

    <!--条件模态框-->
    <section class="modal fade" id="conditionsModal">
        <div class="modal-dialog w800px">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">条件配置</h4>
                </header>
                <section class="modal-body">
                    <div class="conditions"></div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">清除</button>
                </footer>
            </div>
        </div>
    </section>

    <!--抄送值模态框-->
    <section class="modal fade" id="copyValueModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">抄送值配置</h4>
                </header>
                <section class="modal-body">
                    <div class="form-group">
                        <label class="control-label">数据类型</label>
                        <select class="form-control" data-key="type"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">运算符</label>
                        <select class="form-control" data-key="operator"></select>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="control-label">抄送值</label>-->
                    <!--<div class="clearfix">-->
                    <!--<input class="form-control" data-key="expr" type="text"-->
                    <!--style="width:90%;display: inline-block;"/>-->
                    <!--<button class="btn btn-default btn-sm btn-config btn-expr mrg-l15px">E</button>-->
                    <!--</div>-->
                    <!--</div>-->
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">保存</button>
                    <button class="btn btn-danger clear">清除</button>
                </footer>
            </div>
        </div>
    </section>


    <!--图片上传表单-->
    <form id="imgForm" style="display: none">
        <input id="imgFile" type="file" name="imgFile">
    </form>

    <!-- 插入函数模态框 -->
    <section id="insertFunctionModal">
        <div class="noMask-modal">
            <header class="modal-header">
                <button class="close">&times;</button>
                <h4 class="modal-title">插入函数</h4>
            </header>
            <section class="modal-body">
                <div class="form-group">
                    <label class="control-label">本地函数<input type="radio" data-type="local" name="functionType"></label>
                    <label class="control-label">远程函数<input type="radio" data-type="remote" name="functionType"></label>
                    <span class="custom-insertFn">自定义</span>
                    <select class="form-control insert-fns-select"></select>
                </div>
                <div class="insert-fns-wrap">
                    <div>选择函数：</div>
                    <div class="insert-fns">
                    </div>
                </div>
                <div class="insert-fn-desc"></div>
            </section>
            <footer class="modal-footer">
                <button class="btn btn-primary save">确定</button>
                <button class="btn btn-danger clear">取消</button>
            </footer>
        </div>
    </section>

    <!-- 函数参数模态框 -->
    <section id="insertFunctionArgsModal">
        <div class="noMask-modal">
            <header class="modal-header">
                <button class="close">&times;</button>
                <h4 class="modal-title">函数参数</h4>
            </header>
            <section class="modal-body">
                <div class="function-args form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">VALUE</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                            <!-- <span class="simplify">简化</span> -->
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-footer">
                <button class="btn btn-primary save">确定</button>
                <button class="btn btn-danger clear">取消</button>
            </footer>
        </div>
    </section>

    <section class="modal fade" id="saveAsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button class="close">&times;</button>
                    <h4 class="modal-title">另建为</h4>
                </header>
                <section class="modal-body">
                    <div class="function-args form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" data-key="name">
                                <!-- <span class="simplify">简化</span> -->
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button class="btn btn-primary save">确定</button>
                    <button class="btn btn-danger clear">取消</button>
                </footer>
            </div>
        </div>
        
    </section>

    <script src="../js/init.js"></script>
</body>